In [1]:
import pandas as pd

In [2]:
from pdexplore.numeric import (
    BasicNumericExploration,
)

# Checking precondition

In [3]:
df = pd.DataFrame(
    data=[
        [23, 'Jo', 1],
        [pow(2,64)-1, 'Bo', 4],
        [82, 'Go', 65535],
        [None, 'No', 1],
    ],
    columns=['age', 'name', 'rank']
)

In [4]:
df

            age name   rank
0  2.300000e+01   Jo      1
1  1.844674e+19   Bo      4
2  8.200000e+01   Go  65535
3           NaN   No      1

In [5]:
bexp = BasicNumericExploration()

In [6]:
bexp.apply(df['age'])

Basic numeric exploration skipped. Reason: Less than four non-null values.

In [7]:
bexp.apply(df['rank'])

--- Starting numeric data exploration ---
Data min=1.00, max=65,535.00.
Data mean is 16,385.25, std is 32,766.50
It's also usefull to examine the two corresponding outlier-robust stats:
Median=2.50, median absolute deviation (MAD)=2.22.
Data skewness is 1.15. For normally distributed data, the skewness should be about 0. A skewness value > 0 means that there is more weight in the left tail of the distribution.

# Checking the pipeline

In [8]:
from pdexplore.numeric import (
    run_numeric_exploration_pipeline,
)

In [9]:
run_numeric_exploration_pipeline(df['rank'])

--- Starting numeric data exploration ---
Data min=1.00, max=65,535.00.
Data mean is 16,385.25, std is 32,766.50
It's also usefull to examine the two corresponding outlier-robust stats:
Median=2.50, median absolute deviation (MAD)=2.22.
Data skewness is 1.15. For normally distributed data, the skewness should be about 0. A skewness value > 0 means that there is more weight in the left tail of the distribution.
Skewness test skipped. Reason: Less than eight non-null values.
Performing the Shapiro-Wilk test for normality...
Null hypothesis (H0): The data comes from a normal dist.
Test statistic: 0.630 p-value: 0.001
The p-value is smaller than the set α; the null hypothesis can be rejected: the data isn't normally distributed.
D’Agostino’s K^2 normality test skipped. Reason: Less than eight non-null values.
65,535 found 1 times. It is suspicious, as it is exactly 2^16-1; i.e. the highest number that can be represented by an unsigned 16-bit binary number. It is therefore the max value for variables declared as integers in many programming language. The appearance of the number may reflect an error, overflow condition or missing value.

# Try the whole thing

In [10]:
from pdexplore import explore, explore_series

In [11]:
explore(df)

Starting to explore a dataframe with pdexplore.
The dataframe contains 3 columns.
The dataframe contains 4 rows.

=================== age =============================
Starting to explore series age with pdexplore.
dtype: float64
4 unique values over 4 entries.
25.00% missing values (1).
Value counts plot skipped. Reason: Low frequency of most-frequent value.
Basic numeric exploration skipped. Reason: Less than four non-null values.
Skewness test skipped. Reason: Less than eight non-null values.
Shapiro-Wilk normality test skipped. Reason: Less than three non-null values.
D’Agostino’s K^2 normality test skipped. Reason: Less than eight non-null values.
18,446,744,073,709,551,615 found 1 times. It is suspicious, as it is exactly 2^64-1; i.e. the highest number that can be represented by an unsigned 64-bit binary number. It is therefore the max value for variables declared as integers in many programming language. The appearance of the number may reflect an error, overflow condition or missing value.

=================== name =============================
Starting to explore series name with pdexplore.
dtype: object
4 unique values over 4 entries.
0.00% missing values (0).
Value counts plot skipped. Reason: Low frequency of most-frequent value.
Basic numeric exploration skipped. Reason: dtype is non-numeric.
Skewness test skipped. Reason: Less than eight non-null values.
Shapiro-Wilk normality test skipped. Reason: dtype is non-numeric.
D’Agostino’s K^2 normality test skipped. Reason: Less than eight non-null values.
Suspicious numers check skipped. Reason: dtype is non-numeric.

=================== rank =============================
Starting to explore series rank with pdexplore.
dtype: int64
3 unique values over 4 entries.
0.00% missing values (0).
Value counts plot skipped. Reason: Low frequency of most-frequent value.

--- Starting numeric data exploration ---
Data min=1.00, max=65,535.00.
Data mean is 16,385.25, std is 32,766.50
It's also usefull to examine the two corresponding outlier-robust stats:
Median=2.50, median absolute deviation (MAD)=2.22.
Data skewness is 1.15. For normally distributed data, the skewness should be about 0. A skewness value > 0 means that there is more weight in the left tail of the distribution.
Skewness test skipped. Reason: Less than eight non-null values.
Performing the Shapiro-Wilk test for normality...
Null hypothesis (H0): The data comes from a normal dist.
Test statistic: 0.630 p-value: 0.001
The p-value is smaller than the set α; the null hypothesis can be rejected: the data isn't normally distributed.
D’Agostino’s K^2 normality test skipped. Reason: Less than eight non-null values.
65,535 found 1 times. It is suspicious, as it is exactly 2^16-1; i.e. the highest number that can be represented by an unsigned 16-bit binary number. It is therefore the max value for variables declared as integers in many programming language. The appearance of the number may reflect an error, overflow condition or missing value.