In [1]:
import pandas as pd

In [2]:
from pdexplore.numeric import BasicNumericExploration

In [3]:
df = pd.DataFrame(
    data=[
        [23, 'Jo', 1],
        [44, 'Bo', 4],
        [82, 'Go', 2],
        [None, 'No', 1],
    ],
    columns=['age', 'name', 'rank']
)

In [4]:
df

    age name  rank
0  23.0   Jo     1
1  44.0   Bo     4
2  82.0   Go     2
3   NaN   No     1

In [5]:
bexp = BasicNumericExploration()

In [6]:
bexp.apply(df['age'])

Basic numeric exploration skipped. Reason: Less than four non-null values.

In [7]:
bexp.apply(df['rank'])

Data min=1.00, max=4.00.
Data mean is 2.00, std is 1.41
It's also usefull to examine the two corresponding outlier-robust stats:
Median=1.50, median absolute deviation (MAD)=0.74.